{% extends '_layout.html' %}

{% block title %}Movie Rating App | Create Movie Rating{% endblock %}

{% block body %}
<h1 class="mb-5">Create Movie Rating</h1>
<p class="mb-3">Create a movie rating below</p>
<!-- TODO: Feature 2 -->
<form action="/movies" method="post">
    <div class="form-group">
      <label for="inputMovieName">Movie's Name</label>
      <input type="name" class="form-control" name="inputMovieName" aria-describedby="movieNameHelp" placeholder="Enter Movie's Name">
    </div>
    <div class="form-group">
        <label for="inputDirectorName">Director's Name</label>
        <input type="name" class="form-control" name="inputDirectorName" aria-describedby="directorNameHelp" placeholder="Enter Director's Name">
    </div>
    
    <button type="submit" class="btn btn-primary">Submit</button>

</form>


{% endblock %}
